@{
    ViewBag.Title = "11 Hüter";
}

    <div>
        <div class="row">
            <a href="~/Content/einteilung11.pdf">Druckansicht</a>
        </div>
        <div class="row">
            <div class="column">
                <object data="~/Content/einteilung11.pdf" style="width:1000px;height:1000px">
                    <a href="~/Content/einteilung11.pdf">PDF laden</a>
                </object>
            </div>
            <div class="column">
                <table>
                    <tr><td>1</td><td>Jäger 2</td></tr>
                    <tr><td>2</td><td>Jäger 2</td><td>&nbsp;</td></tr>
                    <tr><td>3</td><td>Jäger 2</td><td>&nbsp;</td></tr>
                    <tr><td>4</td><td>Jäger 3</td><td>&nbsp;</td></tr>
                    <tr><td>5</td><td>Jäger 3</td><td>&nbsp;</td></tr>
                    <tr><td>6</td><td>Jäger 3 + Feldhüter</td><td>&nbsp;</td></tr>
                    <tr><td>7</td><td>Feldhüter</td><td>&nbsp;</td></tr>
                    <tr><td>8</td><td>Jäger 1</td><td>&nbsp;</td></tr>
                    <tr><td>9</td><td>Jäger 1</td><td>&nbsp;</td></tr>
                    <tr><td>10</td><td>Jäger 1</td><td>&nbsp;</td></tr>
                    <tr><td>11</td><td>Jäger 3</td><td></td></tr>
                </table>
            </div>
        </div>
    </div>
<style>
    .column {
  float: left;
}

.left {
  width: 80%;
}

.right {
  width: 20%;
}
</style>